@font-face {
	font-family: "House Slant";
	src: url("font/HouseSlant.woff2") format('woff2'), 
	url("font/HouseSlant.woff") format("woff"),
   	url('font/HouseSlant.eot');
    font-style: normal;
    font-weight: 400;
	font-display:fallback;
}

:root {
	--positionHead:-3670px;
	--positionNose:-3670px;
	--positionMouth:-3670px;
	--positionEyes:-3670px;
  }
#frame {
	background:url('frame.png') no-repeat center center;
	width:546px;
	height:629px;
	margin:10px auto 0 auto;
}

h1 {
	margin-top:0;
}

body {
	margin:0;
	background:black;
}

header {
	font-family:'House Slant', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	color:rgb(130, 248, 106);
	text-align:center;
	background:black;
	padding:10px;
}

button {
	background-color: #4CAF50;
	color: rgb(240, 235, 235);
  	border: 2px solid #4CAF50;
	padding: 16px 32px;
	text-align: center;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	transition-duration: 0.4s;	
	cursor:pointer;
  }

  button:hover {
	background-color: rgb(240, 235, 235);
	color: #4CAF50;
  }

  #monster {
	padding:85px 90px 85px 90px;
}



#lightning {
	background-image:url('light1.jpg');
}

#head{
	height:172px;
	background-image:url('head.jpg');
	animation-name: playHead;
	animation-duration: 1s;
	animation-fill-mode: forwards;

	}

#eyes{
	height:79px;
	background-image:url('eyes.jpg');
	animation-name: playEyes;
	animation-duration: 1s;
	animation-fill-mode: forwards;

}

#nose{
	height:86px;
	background-image:url('nose.jpg');
	animation-name: playNose;
	animation-duration: 1s;
	animation-fill-mode: forwards;

}

#mouth{
	height:117px;
	background-image:url('mouth.jpg');
	animation-name: playMouth;
	animation-duration: 1s;
	animation-fill-mode: forwards;

}

@keyframes playHead {
	0% {background-position:0;}
	100% { background-position: var(--positionHead); }
}

@keyframes playEyes {
	0% {background-position:0;}
	100% { background-position: var(--positionEyes); }
}

@keyframes playNose {
	0% {background-position:0;}
	100% { background-position: var(--positionNose); }
}

@keyframes playMouth {
	0% {background-position:0;}
	100% { background-position: var(--positionMouth); }
}